/*margin-left를 -150px을 줘서 nav바를 숨기고
margin-left: 0px;로 바꿔서 나타나게 하는 과정을 서서히 진행시킨다.
*/
.left-menu {
    width: 150px;
    height: 100%;
    background: black;
    color: white;
    position: fixed;
    margin-left: -150px; 
}

/*
position : fixed 라는 속성을 이용하시면 브라우저 화면에 딱 달라붙는 요소를 만들어낼 수 있습니다. 그리고 z-index 등을 조정하시면 맨 앞에 붕 띄우기도 가능하지요. 

z-index는 position 속성이 들어간 요소들에 쓸 수 있는 속성이며 값이 클 수록 맨 앞으로 가져옵니다. (= 워드나 피피티의 맨 앞으로보내기/뒤로보내기 기능)
*/
/*부트스트랩이 z-index를 1~4까지 쓰고 있기 때문에
5이상 주면 모든 요소를 투과해서 앞에 존재한다.
*/
.black-background {
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    /*display: none;*/
    display: block;
    transition: all 1s;
    transform: translateY(-1000px)
    /*Y축으로 -1000px 움직여달라는 거고 margin-top보다 부드럽게 움직인다.이게 애니메이션 시작화면*/
}

.white-background {
    background: white;
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}

#email-alert {
    display: none;
}

#password-alert {
    display: none;
}

.yellow_bg {
    background-color: yellow;
}

.alert-box {
    background: rgb(138, 138, 238);
    color:rgb(88, 88, 247);
    padding: 20px;
    border-radius: 5px;
    display: none;
}

.alert-box p{
    display: inline;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.nav-sub {
    display: none;
}

#nav-sub-button {
    cursor: pointer;
}

/*background-size:cover는 이미지 사이즈를 반응형으로 바꿔준다. */
.main-background {
    background-image: url(movies.jpg);
    background-size: cover;
    color: white;
    border-radius: 0px;
}